.content-text {
  margin: 10px;
  margin-top: 0px;
}

.user-content-name {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
}

.user-content-name img {
  height: 20px;
  position: absolute;
}
